:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.info{
  position: absolute;
  left: 15px;
  z-index: 100;
  display:block;
}

.heading{
  top: 15px;
}

.general{
  top: 25px;
  width: 330px;
}

.rotate{
  top: 100px;
}

.subheadingTop{
  top: 145px;
}

.keysTop{
  top: 155px;
  width: 200px;
}

.subheadingBottom{
  top: 255px;
}

.keysBottom{
  top: 265px;
  width: 200px;
}

.axes{
  position: absolute;
  right: 15px;
  width: 100px;
  z-index: 100;
  display:block;
}

.axesHeader{
  top: 15px;
}
.axesInfo{
  top: 25px;
}